@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
     font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
*::selection{
    background-color: purple;
    color: aliceblue;
}
*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: purple;
}
.form-container{
    min-height: 100vh;
    background-color:purple;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-container form{
    padding: 2rem;
    width: 50rem;
    border-radius: .5rem;
    border:solid 1px black;
    background-color: white;
    text-align: center;
}
.form-container form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.form-container form .box{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: .5rem;
    padding:1.2rem 1.4rem;
    font-size: 1.2rem;
    color: black;
    margin: 1rem 0;
    border:solid 1px black;
}
.btn,.option-btn,.delete-btn,.white-btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: aliceblue;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.btn{
    background-color: purple;
    border-radius: .5rem;
}
.btn:hover,.option-btn:hover,.delete-btn:hover{
    background-color: black;
    font-size: 1.24rem;
}
.form-container form{
    padding-top: 1rem;
    font-size: 1.5rem;
    color: black;
}
.form-container form p a {
    color: purple;
    text-decoration: none;
}
.form-container form p a:hover{
    text-decoration: underline;
}
p{
    padding-top: 10px;
}
.image{
    height: 15px;
    width: 20px;
}
.header1{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
   
    background-color:rgba(128, 0, 128, 0);
    box-shadow:20px;
    
}
.flex{
    display: flex;
    align-items: center;
    
 height: 70px;
   margin-right:50 px;
   
  background-color: rgba(243, 238, 248, 0);
    box-shadow:  0 .5rem 1rem gainsboro;
}
.header1 .flex .logo{
    font-size: 2.5rem;
    color: rgb(20, 19, 19);
    padding-left: 50px;
    font-family:cursive;    
    padding-bottom: 12px;
}
.header1 .flex .logo span{
    color:rgb(204, 33, 204) ;
    font-family:cursive;
}

.navbar a{
    margin: 0 1rem;
    font-size: 1.2rem;
    color:rgb(26, 23, 26);
    font-family:cursive;
    text-decoration: none;
    justify-content: space-between;
    
    padding-top: 10px;
}
.aa{
    padding-left: 270px;
}

.ff{
    padding-right: 210px;
}

.navbar a:hover{
    color: rgb(204, 33, 204);
}
.icons{
    color: rgb(15, 15, 15);
    padding-left: 210px;
}
.icons:hover{
    color: rgb(204, 33, 204)
}

.account-box{
    position: absolute;
    top: 110%;
    width: 20rem;
    border: 2px solid rgba(0, 0, 0, 0.678);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    right: 20px;
    display:none;

}
.account-box p{
    font-size: 1.2rem;
    color: black;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 1.5rem
}
.account-box p span{
    color: blueviolet;
}
.logout-btn{
    color: aliceblue;
    padding-left: 1.2rem;
    padding-right: 1.2rem ;
    font-family: 'Times New Roman', Times, serif;
}
div .logout-btn{
    background-color: orangered;
    text-decoration: none;
    font-size: 1.8rem;
    border: 1px solid rgb(24, 23, 23);
    border-radius: .5rem;  
}
.icons i {
    display: none;
}
.dashboard{
    display: flex;
    color: black;
    font-size: 30PX;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding-left: 45%;
    padding-top: 28PX;
}
.boxs1{
    display: flex;
    
   
}
.box2{
    border: 2px solid rgba(8, 8, 8, 0.452);
    border-radius: 5px;
    box-shadow:  0 .5rem 1rem gainsboro;
    margin-left: 15px;
}
.box2 div h3{
    padding-top: 5px;
    padding-left: 45%;
 color: rgb(8, 8, 8);
    font-size: 50px;
}
.box2 div p{
    color: aliceblue;
    
    padding: 8px;
}
.box2 div.m{
    background-color: rgb(204, 33, 204);
   font-size: 25px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.boxone{
    border: 2px solid rgba(8, 8, 8, 0.452);
    border-radius: 5px;
    box-shadow:  0 .5rem 1rem gainsboro;
    margin-left: 70px;
}
.boxone div h3{
    padding-top: 5px;
    padding-left: 45%;
 color: rgb(8, 8, 8);
    font-size: 50px;
}
.boxone div p{
    color: aliceblue;
    
    padding: 8px;
    margin-right: 30px;
    margin-left: 30px;
}
.boxone div.m{
    background-color: rgb(204, 33, 204);
   font-size: 25px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.box3{
    border: 2px solid rgba(8, 8, 8, 0.452);
    border-radius: 5px;
    box-shadow:  0 .5rem 1rem gainsboro;
    margin-left: 15px;
}
.box3 div h3{
    padding-top: 5px;
    padding-left: 45%;
 color: rgb(8, 8, 8);
    font-size: 50px;
}
.box3 div p{
    color: aliceblue;
    
    padding: 8px;
    margin-right: 30px;
    margin-left: 30px;
}
.box3 div.m{
    background-color: rgb(204, 33, 204);
   font-size: 25px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.box4{
    border: 2px solid rgba(8, 8, 8, 0.452);
    border-radius: 5px;
    box-shadow:  0 .5rem 1rem gainsboro;
    margin-left: 15px;
}
.box4 div h3{
    padding-top: 5px;
    padding-left: 45%;
 color: rgb(8, 8, 8);
    font-size: 50px;
}
.box4 div p{
    color: aliceblue;
    
    padding: 8px;
    margin-right: 30px;
    margin-left: 30px;
}
.box4 div.m{
    background-color: rgb(204, 33, 204);
   font-size: 25px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}


.boxs2{
    display: flex;
 
   
}
.box5{
    border: 2px solid rgba(8, 8, 8, 0.452);
    border-radius: 5px;
    box-shadow:  0 .5rem 1rem gainsboro;
    margin-left: 70px;

}
.box5 div h3{
    padding-top: 5px;
    padding-left: 45%;
 color: rgb(8, 8, 8);
    font-size: 50px;
}
.box5 div p{
    color: aliceblue;
    
    padding: 8px;
    margin-right: 30px;
    margin-left: 30px;
}
.box5 div.m{
    background-color: rgb(204, 33, 204);
   font-size: 25px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.box6{
    border: 2px solid rgba(8, 8, 8, 0.452);
    border-radius: 5px;
    box-shadow:  0 .5rem 1rem gainsboro;
    margin-left: 15px;
}
.box6 div h3{
    padding-top: 5px;
    padding-left: 45%;
 color: rgb(8, 8, 8);
    font-size: 50px;
}
.box6 div p{
    color: aliceblue;
    
    padding: 8px;
    margin-right: 50px;
    margin-left: 50px;
}
.box6 div.m{
    background-color: rgb(204, 33, 204);
   font-size: 25px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.box7{
    border: 2px solid rgba(8, 8, 8, 0.452);
    border-radius: 5px;
    box-shadow:  0 .5rem 1rem gainsboro;
    margin-left: 15px;
}
.box7 div h3{
    padding-top: 5px;
    padding-left: 45%;
 color: rgb(8, 8, 8);
    font-size: 50px;
}
.box7 div p{
    color: aliceblue;
    
    padding: 8px;
    margin-right: 45px;
    margin-left: 45px;
}
.box7 div.m{
    background-color: rgb(204, 33, 204);
   font-size: 25px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.box8{
    border: 2px solid rgba(8, 8, 8, 0.452);
    border-radius: 5px;
    box-shadow:  0 .5rem 1rem gainsboro;
    margin-left: 15px;
}
.box8 div h3{
    padding-top: 5px;
    padding-left: 45%;
 color: rgb(8, 8, 8);
    font-size: 50px;
}
.box8 div p{
    color: aliceblue;
    
    padding: 8px;
    margin-right: 40px;
    margin-left: 40px;
}
.box8 div.m{
    background-color: rgb(204, 33, 204);
   font-size: 25px;
    margin: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.title5{
    margin-left: 560px;
    padding-top: 30px;
    font-size: 50px;
}
.add-product{
    border: 1px solid black;
    text-align: center;
    width: 670px;
    margin-left: 26%;
   margin-top: 25px;
}


.boxz{
    width: 90%;
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: .5rem;
    padding:.6rem .8rem;
    font-size: 1.2rem;
    color: black;
    margin: 1rem 0;
    border:solid 1px black;
    
}
.boxm {
    width: 90%;
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: .5rem;
    padding:.6rem .8rem;
    font-size: 1.2rem;
    color: black;
    margin: 1rem 0;
    border:solid 1px black;
}
.btn1{
    color: white;
    background-color:rgb(204, 33, 204);
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 7px;
}
.btn1:hover{
    background-color: black;

}
.selectphoto{
    width: 90%;
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: .5rem;
    padding:.6rem .8rem;
    font-size: 1.2rem;
    color: black;
    margin: 1rem 0;
    border:solid 1px black;
    margin-left: 32px;
}
.add-product{
    box-shadow:  0 .8rem 1.2rem gainsboro;
}
.add-product div h3 {
    margin-top: 15px;
    font-size: 30px;
}
.books-admin{
    
  border: 1px solid gray;
}
.happylemon{
    height: 400px;
}